.row {
	display: flex;
  text-align:center;
  flex-direction:row;
  padding: 5px;
}

.boggle:hover {
  cursor: pointer;
}

.boggle {
  width: 80px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: -4px 2px 8px 1px rgba(0,0,0,0.69);
  flex:1 1 auto;
	margin:5px;
}

.boggle.selected {
  background-color: #ACCEEC;
}

.boggle span {
  font-weight: bold;
	display: block;
	text-align: center;
  position: relative;
  top: 50%;
	transform: translateY(-50%);
	height: 50px;
}